<!doctype html>
<html>
<head>
    <title>{% block title '' %} - Fast Resume</title>

    {% block stylesheets %}
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous" />
        <!-- material-design -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" />
        <!-- fast-resume -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    {% endblock %}

</head>
<body>

{% block body %}

    <div id="wrapper">
        <div class="container">

            {% block header %}{% endblock %}

            <div class="content" role="main">
                {% block content %}{% endblock %}
            </div>

            {% block footer %}{% endblock %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- material-design -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"
            crossorigin="anonymous"></script>
    <!-- react -->
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <!-- fast-resume -->
    <script src="assets/js/app.js"></script>
{% endblock %}

</body>
</html>
